<h1>Join Us</h1>

<p>Join <strong><%=count%></strong> magicians on our waitlist</p>

<form method="POST" action="/register">
  <input type="email" name="email" placeholder="Enter your email" />
  <button>Join Us</button>
</form>